$regular-all-background-color:#edf1f7;
$regular-all-text-color:#222b45;
$regular-all-font-size:0.9375rem;
$regular-all-font-family:Open Sans Hebrew, sans-serif;
$regular-all-font-weight:400;
$regular-all-line-height:1.25rem;
$regular-all-min-height:100vh;

$regular-navigationBar-text-color:$regular-all-text-color;
$regular-navigationBar-background-color:$regular-all-background-color;
$regular-navigationBar-font-size:$regular-all-font-size;
$regular-navigationBar-line-height:$regular-all-line-height;
$regular-navigationBar-font-family:$regular-all-font-family;
$regular-navigationBar-width:100%;
$regular-navigationBar-height:132px;
$regular-navigationBar-padding:0;
$regular-navigationBar-margin:0 auto;

$regular-main-font-family:$regular-all-font-family;
$regular-main-padding:.6rem .6rem .5rem;

$regular-main_cards_container-margin:0 -10px;

$regular-main_card-font-size: 0.9375rem;
$regular-main_card-font-weight: 400;
$regular-main_card-line-height: $regular-all-line-height;
$regular-main_card-text-color: $regular-all-text-color;
$regular-main_card-border-width: 0.0625rem;
$regular-main_card-border-style: solid;
$regular-main_card-border-color: transparent;
$regular-main_card-border-radius: 0.25rem;
$regular-main_card-width:50%;
$regular-main_card-padding:5px;
$regular-main_card-margin:0 0 1.3rem 0;

$regular-element-background:#fff;

$accessibility-all-background-color:#49667a;
$accessibility-all-text-color:$regular-element-background;
$accessibility-all-font-family:$regular-all-font-family;
$accessibility-all-font-size:$regular-all-font-size;
$accessibility-all-font-weight:$regular-all-font-weight;
$accessibility-all-line-height:$regular-all-line-height;
$accessibility-all-min-height:$regular-all-min-height;

$accessibility-main_card-text-color:$accessibility-all-text-color;
$accessibility-main_card-background-color:#384f5f;
$accessibility-main_card-box-shdow:rgba(26,31,51,0.18) 0 8px 4px 0;

$ramzor-colors-red:rgb(250, 158, 143);
$ramzor-colors-orange:rgb(242, 197, 128);
$ramzor-colors-yellow:rgb(252, 252, 112);
$ramzor-colors-green:rgb(184, 222, 146);

@font-face {
    font-family: Open Sans Hebrew;
    src: url('./fonts/OpenSansHebrew-Regular.ttf');
}
@mixin circle-condition($circleBG) {
    background-color: $circleBG;
    border-radius: 50%;
    padding: 3.5px;
    margin: 5px 0 5px 5px;
    display: inline-block;
}
@mixin circle-vaccinated($circleBG) {
    background-color: $circleBG;
    margin: 0 2px;
    width: 8px;
    height: 8px;
    padding: 5px;
    display: inline-block;
    border-radius: 50%;
}
@mixin ramzor-cube ($cubeBG){
    width: 22px;
    height: 22px;
    border-radius: 4px;
    background-color: $cubeBG;
}
@mixin ramzor-cube-tablet ($cubeBG){
    margin: 0 6px;
    width: 26px;
    height: 26px;
    padding: 5px;
    display: inline-block;
    border-radius: 4px;
    background-color: $cubeBG;
}
@mixin ramzor-cube-comp ($cubeBG){
    margin: 0 6px;
    width: 32px;
    height: 32px;
    padding: 5px;
    display: inline-block;
    border-radius: 2px;
    background-color: $cubeBG;
}
::-webkit-scrollbar-thumb{
    border-radius: 15px!important;
    background-color: #969696!important;
}
::-webkit-scrollbar-track{
    background: transparent !important;
}
*{
    box-sizing: border-box;
    direction: rtl;
}
html{
    height: 100%;
}
body{
    margin: 0;
    padding: 0;
}
.layout-regular{
    background-color: $regular-all-background-color;
    color: $regular-all-text-color;
    font-family: $regular-all-font-family;
    font-size: $regular-all-font-size;
    font-weight: $regular-all-font-weight;
    line-height: $regular-all-line-height;
    min-height: $regular-all-min-height;
}
.layout-accessibility{
    background-color: $accessibility-all-background-color;
    color: $accessibility-all-text-color;
    font-family: $accessibility-all-font-family;
    font-size: $accessibility-all-font-size;
    font-weight: $accessibility-all-font-weight;
    line-height: $accessibility-all-line-height;
    min-height: $accessibility-all-min-height;
}

.navigation-bar-section{
    display: block;
    width: 100%;
    height: $regular-navigationBar-height;
    margin: $regular-navigationBar-margin;
    line-height: $regular-navigationBar-line-height;
    font-size: $regular-navigationBar-font-size;
    font-family:$regular-all-font-family;
    background-color: $regular-element-background;
    color: $regular-all-text-color;
    font-weight: $regular-all-font-weight;
}
.navigation-bar-container{
    align-items: center;
    justify-content: space-between;
    display: flex;
    width: 100%;
    height: 100%;
    box-shadow: 0 0.5rem 1rem 0 rgba(44,51,73,0.1);
}
.navigation-bar-colored-line{
    width: 100%;
    height: 2px;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background: linear-gradient(90deg,#4bb887,#16b6d0,#d6e58a);
}
.navigation-bar-data{
    display: flex;
    align-items: center;
    position: relative;
    width: 100%;
    height: 100%;
}
.nb-data1{
    right: 4px!important;
    top: 5px;
    height: 57px!important;
    position: absolute;
    display: flex;
    align-items: center;
}
.nb_data1-button{
    outline: unset;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 1500;
    padding: 6px;
    border: none;
    background: unset;

    span{
        font-size: 30px;
        color: #374f60;
        display: flex;
    }
}
svg{
    vertical-align: top;
    overflow: hidden;
}
.nb_data1-img{
    width: 202px;
    height: 40px;
}
.nb-data2{
    display: flex;
    position: absolute;
    justify-content: space-around;
    width: 20%;
    left: 0;
    height: 100%;
}
.nb_data2-button{
    font-family: $regular-all-font-family;
    color: $regular-element-background;
    background-color: #39475d;
    border-color: #39475d;
    border-radius: 50px;
    padding: 5px 15px;
    font-weight: 400;
    font-size: 0.875rem;
    text-align: center;
    box-shadow: none!important;
    white-space: nowrap;
    top: 17px!important;
    left: 7px!important;
    position: absolute;
    border: 0.0625rem solid transparent;
    outline: none;
}
.main-section{
    padding: 0;
    margin: auto;
    margin-bottom: 40px;
    display: flex;
    flex-direction: column;
    width: 95%;
    min-height: 100vh;
}

.main-boxes-container{
    padding: .6rem .4rem .5rem;
    width: 100%;
}
.main-boxes-margins{
    margin: 0 -10px;
    @media(min-width:516px){
        margin:0 -15px
    }
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    text-align: right;
}

.main-box{
    padding: 5px;
    width: 48%;
    margin: 0 auto 1.3rem;
    background-color: $regular-element-background;
    border: 0.0625rem solid transparent;
    border-radius: 10px;
    box-shadow: none;
    color: $regular-all-text-color;
    font-family: $regular-all-font-family;
    font-size: $regular-all-font-size;
    font-weight: $regular-all-font-weight;
    line-height: $regular-all-line-height;
    height: 11.5rem;

}
.accessibility-Svg-path-I{
    fill:$regular-element-background
}
.accessiblity-graph{
    background: #2c3a46 !important;
}
.accessibility-main-box{
    box-shadow: $accessibility-main_card-box-shdow;
    color: $accessibility-main_card-text-color;
    background-color: $accessibility-main_card-background-color;
}
.main-box1-newVerified-container,.main-box2-activeVerified-container,
.main-box3-severePatients-container,.main-box4-vaccinated-container,
.main-box5-totalDeaths-container,.main-box6-PercentageOfPositiveTests-container{
    padding:0.7rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 8rem;
}
.main-box2-activeVerified-container,.main-box3-severePatients-container,
.main-box5-totalDeaths-container,.main-box6-PercentageOfPositiveTests-container{
    height: 11rem;
}

.newVerified-Yesterday,.Verified-All,.severePatients-All,.totalDeaths-All,
.PercentageOfPositiveTests-All{
    font-weight: 700;
    margin-bottom: 0.4rem;
    width: 110%;
}
.newVerified-Yesterday-textAndsymbol,.Verified-textAndsymbol,
.vaccinated-textAndsymbol,.totalDeaths-textAndsymbol,.PercentageOfPositiveTests-textAndsymbol{
    display: flex;
    justify-content: start;
}
.newVerified-Yesterday-text,.Verified-text,.vaccinated-text,
.totalDeaths-text,.PercentageOfPositiveTests-text{
    font-size: .9rem;
    margin-top: 0;
    margin-bottom: .5rem;
    line-height: 1.5;
    width: fit-content;
}
.newVerified-Yesterday-symbol,.Verified-symbol,.totalDeaths-symbol,
.PercentageOfPositiveTests-symbol,.ramzor-i-symbol{
    height: 24px;
    width: 40px;
    padding-right: 5px;
    color: #bcbcbc;
    display: inline-block;
}

.newVerified-Yesterday-number,.Verified-number,
.totalDeaths-number{
    line-height: 1.1;
    font-size: 1.1rem;
    margin: 0;
}
.vaccinated-number,.PercentageOfPositiveTests-number{
    font-size: .95rem;
    line-height: .8;
    margin: 0;
    margin-bottom: 0.2rem;
}
.Verified-number{
    margin-bottom: 0.2rem;
}
.newVerified-MidNight,.newVerified-All,.Verified-MidNight,
.vaccinated-MidNight,.PercentageOfPositiveTests-MidNight{
    font-size: 0.6rem;
    font-weight: 600;
    direction: rtl;
    margin-bottom: 0.3rem;
}
.Verified-All-places,.severePatients-All-conditions{
    font-size: 0.7rem;
    width: 100%;
    display: grid;
    grid-auto-rows: 1rem;
    grid-template-rows: 1fr 1fr;
}
.Verified-places{
    display: grid;
    grid-auto-columns: 1.5rem;
    grid-template-columns: 3fr 1fr 1fr;
}
.Verified-places-numbers{
    font-weight: bolder;
    display: grid;
    grid-auto-columns: 1.5rem;
    grid-template-columns: 3fr 1fr 1fr;
}
.box-number{
    font-size: larger;
    font-weight: bolder;
}
.box-text{
    font-weight: lighter;
}
.critical-condition,.ventilated-condition{
    height: fit-content;
    vertical-align: middle;
}
.critical-data,.ventilated-data{
    vertical-align: super;
    display: inline-block;
}
.critical-circle{
   @include circle-condition(rgb(251, 83, 119))
}
.ventilated-circle{
    @include circle-condition(rgb(230, 185, 87))
 }

 .vaccinated-First-All{
    padding-bottom: .2rem;
    border-bottom: 2px solid $regular-all-background-color;
    margin-bottom: .3rem;
 }

.totalDeaths-graph-symbol,.PercentageOfPositiveTests-graph-symbol{
    border-radius: 50%;
    border: 1px solid hsla(0,0%,59.2%,.22);
    padding: 4px;
    margin-left: 5px!important;
    background: $regular-element-background;
    height: 25px;
    width: 25px;
    z-index: 1;
    display: inline-block;
}

.main-indices-of-vaccination{
    width: 100%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: $regular-element-background;
    margin-bottom: 2rem;
}
.indices-header-container{
    width: 100%;
    padding: 1.6rem;
    font-size: 1.3rem;
    text-align: center;
}
.indices-header{
    color: #222b45;
    font-weight: 600;
    line-height: 1.5rem;
}
.indices-box{
    height: 21.75rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: $regular-main_card-border-width $regular-main_card-border-style $regular-all-background-color;
}
.indices-firstBox-header-container,.indices-secondBox-header-container,.indices-thirdBox-header-container{
    width: 100%;
    padding: 1rem 1.5rem;
}
.indices-firstBox-symbol-share-button,.indices-secondBox-symbol-share-button,.indices-thirdBox-symbol-share-button{
    color: $regular-all-text-color;
    margin: 0 6px 0 0;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background: $regular-element-background;
    transition: filter .5s;
    display: inline-flex;
    border: 1px solid #c9c9c9;
    padding: 6px;
}
.indices-firstBox-symbol-downloadExcel-button,.indices-secondBox-symbol-downloadExcel-button,.indices-thirdBox-symbol-downloadExcel-button{
    color:  $regular-all-text-color;
    fill:  $regular-all-text-color;
    margin: 0 6px 0 0;
    height: 29px;
    width: 29px;
    border-radius: 50%;
    background: $regular-element-background;
    transition: filter .5s;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #c9c9c9;
    padding: 6px;
}
.indices-firstBox-header-title-container,.indices-secondBox-header-title-container,.indices-thirdBox-header-title-container{
    display: flex;
    justify-content: space-between;
}
.indices-firstBox-header-symbols,.indices-secondBox-header-symbols,.indices-thirdBox-header-symbols{
    display: flex;
    justify-content: space-between;
}
.indices-firstBox-header-legend-container,.indices-secondBox-header-legend-container,.indices-thirdBox-header-legend-container{
    font-size: .9rem;
    font-weight: 400;
    display: flex;
    flex-wrap: wrap;
    flex-flow: row;
    margin-top: 5px;
    width: min-content;
}
.legend-vaccinated-first{
    @media (max-width: 420px){
        font-size: 2.8vw;
    }
    @media (max-width: 460px){
        font-size: 12px;
    }
    @media (max-width: 800px){
        font-size: 13px;
    }

    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
    white-space: nowrap;
}
.legend-vaccinated-second{
    @media (max-width: 420px){
        font-size: 2.8vw;
    }
    @media (max-width: 460px){
        font-size: 12px;
    }
    @media (max-width: 800px){
        font-size: 13px;
    }
    
    display: flex;
    align-items: center;
    margin: 0 0 0 15px;
    white-space: nowrap;
}
.legend-circle-first{
    @include circle-vaccinated(rgb(28, 125, 126))
}
.legend-circle-second{
    @include circle-vaccinated(rgb(182, 202, 81))
}
.indices-firstBox-graph-container,.indices-secondBox-graph-container,.indices-thirdBox-graph-container{
    position: relative;
    width: 100%;
    height: 247px;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
}

.main-vaccinated-cities,.main-vaccinated-ages,.main-new-patients,.main-ramzor-plan{
    padding: 5px;
    width: 100%;
    margin-bottom: 2rem;
    background-color: $regular-element-background;
    border-radius: 10px;
}
.main-new-patients{
    margin-bottom: 0.5rem;
}
.vaccinated-cities-container,.vaccinated-ages-container,.ramzor-plan-container{
    height: 21.75rem;
}

.ct-series-a .ct-bar, .ct-series-a .ct-line, .ct-series-a .ct-point, .ct-series-a .ct-slice-donut {
    stroke: #1c7d7e;
    stroke-width: 1.6%;
}
.ct-series-b .ct-bar, .ct-series-b .ct-line, .ct-series-b .ct-point, .ct-series-b .ct-slice-donut {
    stroke: #b6ca51;
    stroke-width: 1.6%;
}
.ct-series-a .ct-area, .ct-series-a .ct-slice-donut-solid, .ct-series-a .ct-slice-pie{
    fill:#1c7d7e
}
.ct-series-b .ct-area, .ct-series-b .ct-slice-donut-solid, .ct-series-b .ct-slice-pie{
    fill:#b6ca51
}
.ct-perfect-fourth {
    display: block;
    position: relative;
    width: 100%;
    height: inherit;
}
[data-x-axis]::before {
    display: none;
    content: attr(data-x-axis);
    position: absolute;
    width: 100%;
    text-align: center;
    left: 0;
    bottom: -15px;
    font-size: .9rem;
    color: #777;
}

[data-y-axis]::after {
    display: none;
    content: attr(data-y-axis);
    position: absolute;
    top: -25px;
    left: -2px;
    font-size: .9rem;
    color: #777;
    text-align: center;
    // transform: rotate(-90deg)translateY(50%);
}

select{
    border: 1px solid #e4e9f2;
    border-radius: 10px;
    padding: 5px;
    background-color: #edf1f7;
    font-family: 'Open Sans Hebrew';
}

.ramzor-plan-container{
    direction: ltr;
    display: grid;
    grid-template-areas: 
    "explan header"
    "table table";
    grid-template-rows: 40% 60%;
    grid-template-columns:40% 60% ;
    font-family: $regular-all-font-family;
}
.ramzor-rightSide-container{
    grid-area: header;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: flex-start;
}
.ramzor-header-container{
    font-size: 1.1rem;
    font-weight: bolder;
}
.ramzor-explenations-container{
    text-align: start;
    line-height: 0.9;
    padding: 2px;
    .ramzor-explenations{
        font-size: 0.7rem;
        font-weight: bolder;
    }
}
.ramzor-date-container{
    text-align: start;
    background-color: #e6f1f4;
    padding-left: 5px;
    .ramzor-date{
        font-size: 0.7rem;
        font-weight: bolder;
    }
    .remark-icon{
        display: inline-block;
        width: .9rem;
        height: .9rem;
        font-size: .8rem;
        margin: 5px;
        background-color: #14212b;
        color: #fff;
        opacity: .85;
        text-align: center;
        line-height: 1.1;
        border-radius: 50%;
    }
}
.ramzor-search-area-container{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.ramzor-searchCity-container{
    padding: 5px;
    border: 1px solid #e4e9f2;
    border-radius: 25px;
    align-self: flex-start;
    width: 70%;
    display: inline-block;
}
.ramzor-search-inside{
    padding: 2px;
    display: flex;
    justify-content: space-around;
}
.ramzor-search-text{
    border: none;
    width: 70%;
    color: #222b45;
    outline: none;
    font-family: $accessibility-all-font-family;
}
.ramzor-search-text::placeholder{
    color: #9aa1a7;
    font-size: smaller;
}
.ramzor-symbols-container{
    display: inline-flex;
}
.ramzor-leftSide-container{
    grid-area: explan;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}
.color-explan-container{
    display: flex;
    justify-content: space-evenly;
    text-align: center;
    width: 100%;
}
#ramzor-color-explan-cube-red{
    @include ramzor-cube($ramzor-colors-red);
}
#ramzor-color-explan-cube-orange{
    @include ramzor-cube($ramzor-colors-orange);
}
#ramzor-color-explan-cube-yellow{
    @include ramzor-cube($ramzor-colors-yellow);
}
#ramzor-color-explan-cube-green{
    @include ramzor-cube($ramzor-colors-green);
}
.ramzor-color-explan-text-container{
    line-height: 1.5;
}
.ramzor-color-explan-text-line1{
    font-weight: 600;
    font-size: .6rem;
}
.ramzor-color-explan-text-line2{
    font-weight: 300;
    font-size: .55rem;
    text-align: start;
    font-style: italic;
    color: #9aa1a7;
}

.ramzor-table-container{
    direction: ltr;
    grid-area: table;
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1.1fr 1fr 1fr 1.5fr;
    grid-template-rows: 2fr 3fr;
    grid-template-areas:
    "Ractive changeVerified percentagePositive newVerifiedFor10K scoreAcolorDaily governementColor city" 
    "ramzorT ramzorT ramzorT ramzorT ramzorT ramzorT ramzorT";
    font-size: .7rem;
    text-align: center;
    line-height: 1.4;
}  
.ramzor-city{
    grid-area: city;
    background-color: #edf1f7;
    padding-top: 1.2rem;
} 
.ramzor-governementColor{
    grid-area: governementColor;
    background-color: #edf1f7;
    padding-top: 0.8rem;
} 
.ramzor-scoreAcolorDaily{
    grid-area: scoreAcolorDaily;
    background-color: #edf1f7;
    padding-top: 0.8rem;
} 
.ramzor-newVerifiedFor10K{
    grid-area: newVerifiedFor10K;
    background-color: #daeaee;
    padding: 0.1rem;
} 
.ramzor-percentagePositive{
    grid-area: percentagePositive;
    background-color: #daeaee;
    padding-top: 0.5rem;
} 
.ramzor-changeVerified{
    grid-area: changeVerified;
    background-color: #daeaee;
    padding-top: 0.5rem;
} 
.ramzor-active{
    grid-area: Ractive;
    background-color: #edf1f7;
    padding-top: 1rem;
} 

.ramzor-table-inside-container{
    grid-area: ramzorT;
    display: grid !important;
    grid-auto-rows: 2rem;
    direction: ltr;
    overflow-y: auto;
}
.ramzor-table-inside-container::-webkit-scrollbar{
    width: 2px;
    border-radius: 15px!important;
}
.ramzor-city-obj{
    direction: ltr;
    display: flex;
    width: 100%;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #edf1f7;
}
.government-score{
    background-color: rgb(184, 222, 146);
    padding: 2px 4px;
    border-radius: 2px;
    height: 20px;
    width: 20px;
}
.spotlight-score{
    background-color: rgb(242, 197, 128);
    padding: 2px 4px;
    border-radius: 2px;
    width: 28px;
    text-align: center;
    color: #2c2c2c;
    font-weight: 700;
    margin:auto;
}
.indices-firstBox-header-title,.indices-secondBox-header-title,.indices-thirdBox-header-title{
    font-weight: 700;
}
.indices-firstBox-leftHeader{
    display:flex
}
.nb-data3{
    position: absolute;
    text-align: right;
    bottom: 16px;
    right: 11px;
    width: 65%;
    display: block;
    background: none;
    top: auto;
    height: auto;
    line-height: 1;
}
.nb-data3_title{
    font-size: 0.9rem;
    color: #24343f;
    border-left: none;
    padding: 0;
    font-weight: 600;
}
.nb-data3_sub-title{
    font-size: 0.7rem;
    text-align: right;
    padding: 4px 0 0;
    color: #24343f;
}
.main-others-cube,.main-others-cube-first,.main-others-indices-of-vaccination-grouped {
    height: 21.75rem;
    background-color: #fff;
    border-radius: 10px;
    margin-bottom: 2rem;
}
.main-others-cube-status-hospitals{
    width: 100%;
    background: white;
    height: 358px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.main-others-cube-piluah{
    width: 100%;
    background: white;
    height: 358px;
    border-radius: 10px;
    margin-bottom: 1rem;
    margin-left:1rem
}
.main-others-cube-workers{
    width: 100%;
    background: white;
    height: 358px;
    border-radius: 10px;
    margin-bottom: 1rem;
}

@media (min-width:470px) {
    .newVerified-Yesterday-number, .Verified-number, .totalDeaths-number{
        font-size: 1.5rem;
    }
    .newVerified-Yesterday-text, .Verified-text, .vaccinated-text, .totalDeaths-text, .PercentageOfPositiveTests-text{
        font-size: 1rem;
    }
    .vaccinated-number, .PercentageOfPositiveTests-number {
        font-size: 1.3rem;
    }
    .Verified-places-numbers{
        font-size: .8rem;
    }
    .Verified-places span{
        font-size: .8rem;
    }
    .Verified-All-places, .severePatients-All-conditions{
        width: 70%;
    }
}
@media(min-width:570px){
    .color-explan-container{
        width: 60%;
    }
    .main-section{
        margin-top: 132px;
    }
    .navigation-bar-section{
        z-index: 10;
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
    }
    .nb_data1-img {
        width: 242px;
        height: 50px;
    }
   
}

@media (min-width:675px) {
    .ramzor-plan-container{
        direction: ltr;
        display: grid;
        grid-template-areas:
            "header"
            "explan"
            "table";
        grid-template-rows: 16% 20% 65%;
        grid-template-columns: none;
        font-family: Open Sans Hebrew, sans-serif;
        padding: 0.5rem;
    }
    .ramzor-table-container{
        font-size: 0.9rem;
        width: 92vw;
    }
    .ramzor-leftSide-container{
        grid-area: explan;
        font-size: .9rem;
        font-weight: 400;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        justify-self: flex-end;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }
    .ramzor-rightSide-container {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
        width: 92vw;
    }
    .ramzor-search-area-container {
        width: 38%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .ramzor-searchCity-container{
        width: 60%;
    }
    .ramzor-date-container{
        display: flex;
        width: -webkit-fit-content;
        width: -moz-fit-content;
        width: fit-content;
        padding-left: 10px;
        border-radius: 2px;
        line-height: 1em;
        align-items: center;
    }
    .ramzor-explenations-container{
        line-height: 1.3;
    }
    .color-explan-container{
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;
        white-space: nowrap;
    }
    #ramzor-color-explan-cube-red{
        @include ramzor-cube-tablet($ramzor-colors-red);
    }
    #ramzor-color-explan-cube-orange{
        @include ramzor-cube-tablet($ramzor-colors-orange);
    }
    #ramzor-color-explan-cube-yellow{
        @include ramzor-cube-tablet($ramzor-colors-yellow);
    }
    #ramzor-color-explan-cube-green{
        @include ramzor-cube-tablet($ramzor-colors-green);
    }
    .ramzor-color-explan-text-line1{
        font-size: 1.8vw;
        font-weight: 400;
    }
    .ramzor-color-explan-text-line2{
        font-size: 2vw;
        font-weight: 200;
        font-style: italic;
    }
    .ramzor-color-explan-text-container{
        display: flex;
        flex-flow: column;
        line-height: 1.4em;
    }
    .Verified-All-places, .severePatients-All-conditions{
        width: 50%;
    }
}
@media (min-width:780px) {
    .ramzor-plan-container{
        grid-template-rows: 15% 16% 70%;
    }
    .ramzor-table-container{
        grid-template-rows: 1.25fr 3fr;
    }
}

@media (min-width:815px) {
    .ramzor-leftSide-container{
        grid-area: explan;
        font-size: .9rem;
        font-weight: 400;
        display: flex;
        flex-wrap: wrap;
        flex-flow: row;
        justify-self: flex-end;
        width: -webkit-min-content;
        width: -moz-min-content;
        width: min-content;
    }
    .ramzor-rightSide-container {
        grid-area: header;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }
    .color-explan-container{
        display: flex;
        align-items: center;
        margin: 0 0 0 15px;
        white-space: nowrap;
    }
    #ramzor-color-explan-cube-red{
        @include ramzor-cube-comp($ramzor-colors-red);
    }
    #ramzor-color-explan-cube-orange{
        @include ramzor-cube-comp($ramzor-colors-orange);
    }
    #ramzor-color-explan-cube-yellow{
        @include ramzor-cube-comp($ramzor-colors-yellow);
    }
    #ramzor-color-explan-cube-green{
        @include ramzor-cube-comp($ramzor-colors-green);
    }
    .ramzor-color-explan-text-line1{
        font-size: .9rem;
        font-weight: 400;
    }
    .ramzor-color-explan-text-line2{
        font-size: .9rem;
        font-weight: 200;
        font-style: italic;
    }
}
@media (min-width:980px) {
    .nb-data3{
        position:absolute;
        width: 100%;
        text-align: center;
        margin: 0 auto;
        right: 0;
        top: 76px;
        background: #374f60;
        height: 50px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
    }
    .nb-data3_title{
        font-size: 1.2rem;
        white-space: nowrap;
        text-decoration: none;
        text-align: center;
        font-weight: 700;
        color: #fff;
        border-left: 1px solid #fff;
        padding: 0 18px;
    }
    .nb-data3_sub-title{
        font-size: .9rem;
        text-align: center;
        color: #fff;
        padding: 0 18px;
    }
    .navigation-bar-section{
        height: 76px;
    }
    .main-section{
        margin-top: 128px;
    }
    .nb_data1-button{
        display: none;
    }
}
@media (min-width:1000px) {
    .main-boxes-margins{
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
    .main-box{
        width: 92%;
    }
    .main-others-cube-first,.main-others-cube,
    .main-others-indices-of-vaccination-grouped{
        background: white;
        height: 358px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }

}
@media (min-width:1200px) {
 
    .ramzor-table-container{
        margin-top: 0.5rem;
        padding: 0 0.1rem;
        width: 100%;
    }
    .ramzor-leftSide-container{
        margin-top: 1rem;
    }
    .ramzor-rightSide-container{
        padding: 0.5rem;
        width: 100%;
    }
    .ramzor-plan-container{
        padding: 0;
        
    }
    .main-ramzor-plan{
        padding: 0;
        margin-bottom: 1rem;
    }
    .ramzor-plan-container{
        justify-items: center;
    }

    .main-indices-of-vaccination{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 1fr 5fr;
        grid-template-areas:
        "compheader compheader compheader"
        "graph1 graph2 graph3" ;
    }
    .indices-header-container{
        grid-area: compheader;
        padding: 1.2rem;
    }
    .indices-firstBox{
        grid-area: graph1;
    }
    .indices-secondBox{
        grid-area: graph2;
    }
    .indices-thirdBox{
        grid-area: graph3;
    }
    .main-vaccinated-cities{
        width: 65%;
    }
    .main-vaccinated-ages, .main-new-patients, .main-ramzor-plan{
        width: 30%;
    }
    .main-otherBoxes{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }
    .main-vaccinated-cities{
        width: 66%;
        margin-left: 1rem;
    }
    .main-new-patients{
        width: 100%;
        height: 21.25rem;
        margin-left: 1rem;
        margin-bottom: 1rem;
    }

    .margin-bottom{
        margin-bottom: 1rem;
    }

    .main-others-subgroup{
        width: 100%;
        display: flex;
        margin-bottom: 1rem;
    }
    .main-others-indices-of-vaccination-seperate,
    .main-others-indices-of-vaccination-grouped,  
    .main-vaccinated-ages,.main-others-cube{
        width: 32.6%;
        border-radius: 10px; 
    }
    .indices-others-box{
        height: 21.75rem;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: white;
        border: 0.0625rem solid #edf1f7;
        border-radius: 10px;
    }

    .margin-left{
        margin-left: 1rem;
    }
    .main-others-cube-first{
        width: 32.6%;
        background: white;
        height: 358px;
        border-radius: 10px;
    }
    .main-others-cube{
        width: 32.4%;
        background: white;
        height: 358px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }
    .main-ramzor-plan{
        width: 66.2%;
        margin-left: 1rem;
    }
    .main-others-cube-status-hospitals{
        width: 41.4%;
        background: white;
        height: 358px;
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-left: 1rem;
    }
    .main-others-cube-piluah{
        width: 31.4%;
        background: white;
        height: 358px;
        border-radius: 10px;
        margin-bottom: 1rem;
        margin-left:1rem
    }
    .main-others-cube-workers{
        width: 24.5%;
        background: white;
        height: 358px;
        border-radius: 10px;
        margin-bottom: 1rem;
    }


    // #body-container::-webkit-scrollbar-thumb {
    //     border-radius: 15px!important;
    //     background-color: #969696!important;
    // }
    // #body-container::-webkit-scrollbar {
    //     width: 30px !important;
    //     height: 30px !important;
    // }
    // ::-webkit-scrollbar-track {
    //     background-color: red!important;
    // }
}
